$pink: #d63384;
$primary: $pink;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "transitions";
@import "bootstrap/scss/dropdown";
// @import "button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
// @import "card";
// @import "accordion";
// @import "breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "badge";
// @import "alert";
@import "bootstrap/scss/progress";
// @import "list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
// @import "spinners";
// @import "offcanvas";
// @import "placeholders";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

// @import "bootstrap/scss/bootstrap";

.flex-basis-auto {
  flex-basis: auto;
}

.bg-red-team {
  --bs-bg-opacity: 1;
  background-color: rgba($red, var(--bs-bg-opacity));
}

.bg-blue-team {
  --bs-bg-opacity: 1;
  background-color: rgba($blue, var(--bs-bg-opacity));
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

.draft-team-column {
  width: 20%;
}

.draft-champ-select-column {
  width: 60%;
}

.draft-champ-select-list {
  overflow-y: auto;
}

.search-champion-input {
  width: unset;
}

.champion-icon {
  width: 16.66%;
}
